<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/bootstrap.min.js}"></script>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Up Photos</strong>
    </div>

    <ul class="nav nav-list">
        <li><a href="person">Person</a></li>
        <!--<li><a href="/photo">Photo</a></li>-->
    </ul>
</div>
</body>
</html>